@import "./variables.css";
@import "./codemirror.css";
@import "./pragma_theme.css";
@import "./bulma.min.css";
@import "./bulma-tooltip.min.css";
@import "./icons.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--editor-background);
}

.header {
  display: flex;
  align-items: stretch;
  background-color: var(--editor-background);
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.header .window-buttons {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 6px;
  left: 14px;
}

.header .window-buttons .window-btn {
  width: 11px;
  height: 11px;
  line-height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

.header .window-buttons:hover a {
  visibility: visible !important;
}

.header .window-buttons .close {
  background: #ff5c5c;
  border: 1px solid #e33e41;
}

.header .window-buttons .close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.header .window-buttons .close:active a {
  color: #4e0002;
}

.close a#close-btn {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.header .window-buttons .minimize {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.header .window-buttons .minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.header .window-buttons .minimize:active a {
  color: #5a2607;
}

.minimize a#min-btn {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.header .window-buttons .maximize {
  background: #00ca56;
  border: 1px solid #14ae46;
}

.header .window-buttons .maximize:active {
  background: #029740;
  border: 1px solid #128435;
}

.header .window-buttons .maximize:active a {
  color: #003107;
}

.maximize a#max-btn {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.header .title {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 30px;
  margin-bottom: 0;
  width: 160px;
  text-align: center;
  margin-left: 50px;
}

.header .toolbar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color: var(--color-white);
  border-radius: 0 0 0 10px;
  margin-top: 1px;
}

.header .toolbar .icons {
  margin-right: 8px;
}

.header .toolbar .icons button {
  background-color: var(--color-white);
  color: var(--color-gray);
}

.execute {
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  flex: 1;
  position: relative;
  margin: 0 !important;
}

footer {
  background-color: var(--console-background);
}

.console-wrapper {
  height: 200px;
  background-color: var(--console-background);
  touch-action: none;
  position: relative;
  border-radius: 10px 0 0 0;
}

.console-header {
  background-color: var(--console-background);
  display: flex;
  align-items: stretch;
}

.console-header .title {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 30px;
  margin-bottom: 0;
  width: 160px;
  text-align: center;
}

.console-header .toolbar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  background-color: var(--color-white);
  border-radius: 0 0 0 10px;
}

.console {
  padding: 20px;
  font-size: 14px;
  overflow: auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 20px;
}

.console pre {
  background-color: transparent;
  color: inherit;
  padding: 0;
  font-family: AnkaCoder;
  font-size: 14px;
}

.controls {
  background-color: var(--controls-background);
  border-radius: 10px 0 0 0;
  padding: 12px;
}

.controls button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: 200px;
  height: 45px;
}

.controls #save {
  background-color: var(--color-green);
}

.controls #open {
  background-color: var(--color-white);
  color: var(--color-clear);
}
