:root {
  --editor-background: #4f5361;
  --console-background: #6f7484;
  --controls-background: #7e8291;

  --color-white: #f9f9f9;
  --color-gray: #717480;
  --color-green: #aed580;
  --color-orange: #dba75b;
  --color-clear: #adafb8;
  --color-gutter: #90939d;
}

@font-face {
  font-family: AnkaCoder;
  src: url(../fonts/AnkaCoder.ttf);
}

@font-face {
  font-family: DejaVu;
  src: url(../fonts/DejaVuSansMono.ttf);
}
